body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .full-width-image {
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center top; /* Center the image horizontally and position from the top */
    width: 100%;
    height: calc(100vh - 80px); /* Full height minus the 80px margin */
    margin-top: 80px;
  }